.container {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.fileUploadBox {
  width: 506px;
  height: 157px;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 3px;
  border: 1px dashed gray;
  flex-shrink: 0;
}

.fileUploadButton {
  background-color: #dcdce6;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.fileUploadText {
  color: #bdbdbd;
}

.information {
  flex-shrink: 0;
  font-size: 16px;
  width: 400px;
  color: RGBA(0, 0, 0, 0.6);
}

.singleInformation {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
}

.singleInformation > span {
  padding-right: 10px;
}
